/* пишем стили */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
}

h1, h2, .copy {
	font-family: "RedRingLight", sans-serif;
	font-weight: 100;
}
button {
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
}
.clear{
	clear: both;
}
input, textarea, button {
	outline: none;
}
header{
	position: relative;
	padding-top: 15px;
	height: 100px;
	z-index: 1;
}/* end reset */
.logo{
	text-align: center;
}
.banner{
	position: relative;
	height: 650px;
  background: linear-gradient(0deg, #ffa8a8, #fcff00);
	z-index: 0;
}
.banner_text h1{
	font-size: 40px;
}
.banner_text {
	margin: auto;
	text-align: center;
	padding-top: 100px;
	text-transform: uppercase;
}
.banner_text span{
	font-family: "RedRingBlack",sans-serif;
	color: white;
}
.banner_image{
	text-align: center;
	padding-top: 180px;
}
.definition{
padding: 100px 0px;
}
.definition_item{
	display: inline-block;
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 0 30px;
}
.definition_item h3{
font-family: "ProximaNovaThin",sans-serif;
font-weight: 300px;
font-size: 24;
text-transform: uppercase;
}
.definition_item p{
	width: 75%;
  margin: 0 auto;
  font-family: "ProximaNovaLight", sans-serif;
  font-weight: 400;
  text-align: justify;
}



























